$header-height-web: 6vh;
$footer-height-web: 4vh;
$content-height-web: 90vh;

$green: #467302;
$light-green: #83a603;
$yellow: #f29f05;
$orange: #d95204;
$red: #a61103;
$white: #fff;
$black: #000;

$color-brand: $light-green;
$color-secondary: $yellow;
