@import 'src/scss/main';

.input-container {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: $white;
    margin: .3rem 0 .6rem;
    border: .1rem solid $color-brand;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 0.5rem 1rem;
    outline: 0;
    -webkit-appearance: none;

    &:focus {
        border: .2rem solid $color-secondary;
    }

    &:hover {
        border-color: $green;
    }
}
