@import 'src/scss/main';

.button {
    background-color: $color-brand;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    margin: 1rem 0;
    border: 1px solid $green;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 0.5rem 1rem;
    outline: 0;
    -webkit-appearance: none;
    transition: all 1s ease-out;

    &:focus {
        border-color: $color-secondary;
    }

    &:hover {
        background-color: $green;
    }
}
