@import 'src/scss/main';

.registration-container {
    width: 300px;
}

.error-msg {
    color: $red;
    font-size: 0.8rem;
    margin: 0 0 1rem;
    text-align: center;
    text-transform: uppercase;

    &--checkbox {
        @extend .error-msg;
        margin: 0.5rem 0;
    }
}

.registration-form {
    @include flex-justify-center;
}

.spinner-container {
    @include flex-justify-center;
    margin-top: 10rem;
    align-items: center;
}

.information-container {
    @include flex-justify-center;
    margin: 10rem 0.5rem 0;
}

.regulations-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-brand;
}
