@import 'src/scss/main';

.login-container {
    margin-top: 6rem;
    min-width: 300px;
    color: $green;
    font-size: 1.4rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.hints-container {
    display: flex;
    flex-direction: column;
}

.hint-item {
    display: flex;
    justify-content: center;
}

.link {
    align-self: center;
}
