.facility-container {
  display: flex;
  flex-direction: column;
}

.facilityList {
  display: flex;
  flex-direction: column;
  width: 25rem;
  max-width: 90vw;
  height: 20rem;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
