@import 'src/scss/main';

.button--transparent {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $orange;
    text-decoration: underline;
    font-size: 1.4rem;
    outline: 0;
    -webkit-appearance: none;

    &:focus {
        border: 1px solid $green;
    }
}
