@import 'src/scss/main';

.facilityItem {
  list-style: none;
  margin: .5rem 0;
}

.facilityItem-container {
  display: flex;
  background-color: $color-brand;
  cursor: pointer;
  justify-items: center;
  align-items: center;
  padding: .3rem;
  width: 100%;
}

.facilityItem-details {
  display: flex;
  flex-direction: column;
  margin-left: .3rem;

  p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  span {
    font-size: .9rem;
    font-style: italic;
  }
}

.facilityIcon {
  width: 2.3rem;
  height: 2.3rem;
}
