@import 'src/scss/main';

.nav {
    width: 100%;
    height: $header-height-web;
    min-height: 2rem;
    background: $color-brand; /* fallback for old browsers */
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
    height: 100%;

    @media (max-width: 600px) {
        padding: 0;
    }
}

.align-left {
    display: flex;
    align-items: center;
}

.align-right {
    display: flex;
    align-items: center;
}

.nav__item-link {
    text-decoration: none;
    color: $white;
    position: relative;
    transition: 0.5s;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 100%;
        height: 1px;
        left: 0;
        background: $white;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: left;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.nav__item {
    list-style: none;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
}
