@import 'src/scss/main';

.error-msg {
    color: $red;
    font-size: 0.8rem;
    margin: 0 0 1rem;
    text-align: center;
    text-transform: uppercase;
}

.resetPassword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
    }
}
