@import 'scss/main';

body {
    @import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');

    margin: 0;
    font-family: 'Cuprum', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgba($color-brand, 0.7);
    color: $white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
